<div class="header_top"><!--header_top-->
			<div class="container"><!--Contenedor-->
				<div class="row"><!--Row-->
					<div class="col-sm-6">
						<div class="contactinfo"><!--Div de Informacion de contacto-->
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +1 95 01 88 821</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> dayds19@dayds.com</a></li>
							</ul>
						</div><!--/Fin de div de Informacion de contacto-->
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right"><!--Div de redes sociales-->
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div><!--/Fin Div de redes sociales-->
					</div>
				</div><!--Fin Row-->
			</div><!--/Fin de Container-->
		</div><!--/header_top-->




<section id="slider"><!--slider-->
		<div class="container"><!--Contenedor-->
			<div class="row"><!--Row-->
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel"><!--Div Carousel-->
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner"><!--Div Inner-->
							<div class="item active"><!--Item del carousel Inicial-->
								<div class="col-sm-6"><!--Descripcion de imagen -->
									<h1><span>E</span>-SHOPPER</h1>
									<h2>Free E-Commerce Template</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div><!--/Fin Descripcion de imagen -->
								<div class="col-sm-6"><!--Carga de Imagenes-->
									<img src="<?php echo base_url()?>img/images/home/girl1.jpg" class="girl img-responsive"  alt="" />
									<img src="<?php echo base_url()?>img/images/home/pricing.png" class="pricing"  alt="" />
								</div><!--/Fin Carga de Imagenes-->
							</div><!--/Fin Item Carousel Inicial-->
							
							<div class="item"><!--Item 2 De Carousel-->
								<div class="col-sm-6"><!--Descripcion de imagen -->
									<h1><span>E</span>-SHOPPER</h1>
									<h2>100% Responsive Design</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div><!--/Fin Descripcion de imagen -->
								<div class="col-sm-6"><!--Carga de Imagenes-->
									<img src="<?php echo base_url()?>img/images/home/girl2.jpg" class="girl img-responsive"  alt="" />
									<img src="<?php echo base_url()?>img/images/home/pricing.png" class="pricing"  alt="" />
								</div><!--/Fin Carga de Imagenes-->
							</div><!--/Fin Item 2 De Carousel-->
						
							<div class="item"><!--Item 3 De Carousel-->
								<div class="col-sm-6"><!--Descripcion de imagen -->
									<h1><span>E</span>-SHOPPER</h1>
									<h2>Free Ecommerce Template</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div><!--/Fin Descripcion de imagen-->
								<div class="col-sm-6"><!--Carga de Imagenes-->
									<img src="<?php echo base_url()?>img/images/home/girl3.jpg" class="girl img-responsive"  alt="" />
									<img src="<?php echo base_url()?>img/images/home/pricing.png" class="pricing"  alt="" />
								</div><!--/Fin Carga de Imagenes-->
							</div><!--/Fin Item 3 De Carousel-->
							
						</div><!--/Fin div inner-->
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div><!--/Fin div carousel-->
					
				</div>
			</div><!--/ Fin Row-->
		</div><!--/Fin Contenedor-->
	</section><!--/Fin slider-->
	
	BUSQUEDA
	<div class="col-sm-3"><!--Div busqueda-->
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div><!--/Fin div Busqueda-->
	
	FOOTER
	<div class="footer-widget"><!-- div de politicas del footer-->
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Service</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Online Help</a></li>
								<li><a href="#">Contact Us</a></li>
								<li><a href="#">Order Status</a></li>
								<li><a href="#">Change Location</a></li>
								<li><a href="#">FAQ’s</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Quock Shop</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">T-Shirt</a></li>
								<li><a href="#">Mens</a></li>
								<li><a href="#">Womens</a></li>
								<li><a href="#">Gift Cards</a></li>
								<li><a href="#">Shoes</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Policies</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privecy Policy</a></li>
								<li><a href="#">Refund Policy</a></li>
								<li><a href="#">Billing System</a></li>
								<li><a href="#">Ticket System</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Company Information</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">Store Location</a></li>
								<li><a href="#">Affillate Program</a></li>
								<li><a href="#">Copyright</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/cierre de div de politicas de footer-->